<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- start css -->
<link rel="stylesheet" href="/src/main.css">
<link rel="stylesheet" href="/src/components/my-button/my-button.css">
<link rel="stylesheet" href="/src/components/app/app.css">
<link rel="stylesheet" href="/src/components/topnav/top-nav.css">
  <!-- end css -->
  <script src="/node_modules/react/umd/react.development.js"></script>
  <script src="/node_modules/react-dom/umd/react-dom.development.js"></script>
  <title>React Boilerplate</title>
</head>
<body>
  <div id="app-root"></div>
  <!-- start js -->
<script src="/dev-js/components/app/app.js"></script>
<script src="/dev-js/components/topnav/topnav.js"></script>
<script src="/dev-js/components/my-button/my-button.js"></script>
<script src="/dev-js/main.js"></script>
  <!-- end js -->
  <script src="<%= browserRefreshUrl %>"></script>
</body>
</html>
