<!DOCTYPE html>
<html lang="en">
<head>
  <% include ../partials/head %>
</head>
<body>
  <div id="app-root"></div>
  <footer>
    <% include ../partials/footer %>
  </footer>
  <script src="/dev-bundles/all.js"></script>
  <script src="<%= browserRefreshUrl %>"></script>
</body>
</html>
