<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <!-- start css -->
<link rel="stylesheet" href="/src/index.css">
<link rel="stylesheet" href="/src/components/fancy-button.css">
<link rel="stylesheet" href="/src/components/sidebar/sidebar.css">
  <!-- end css -->
  <script src="/node_modules/react/umd/react.production.min.js"></script>
  <script src="/node_modules/react-dom/umd/react-dom.production.min.js"></script>
  <title>React Boilerplate</title>
</head>
<body>
  <div id="app-root"></div>
  <!-- start js -->
<script src="/js/index.js"></script>
<script src="/js/components/fancy-button.js"></script>
<script src="/js/components/sidebar/sidebar.js"></script>
<script src="/js/components/sidebar/sidebarz.js"></script>
<script src="/js/components/sidebar/s.js"></script>
<script src="/js/components/q.js"></script>
  <!-- end js -->
  <script src="<%= browserRefreshUrl %>"></script>
</body>
</html>
